body{
    font-family: "Oxygen", sans-serif;
     .oxygen-light{
        font-family: "Oxygen", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 16px;
      }
      
      .oxygen-bold {
        font-family: "Oxygen", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
      }
      
}
/* header of the document*/
header{
    background-color: lightgray;
    padding: 1rem 2%;
}
header h1{
    margin: 0%;
    color:darkblue;
}

header p{ margin: 0%;
    color:darkblue;
    letter-spacing: .5px;
}

/* navigation for the document*/
nav{
    background-color: gold;
}
nav ul{
    list-style-type: none;
    padding: 0 2%;
    margin: 0;
    display: flex;
}
nav a{
    font-size: 1.1rem;
    text-decoration: none;
    color: darkblue;
    font-weight: 700;
    display: block;
    padding: .3rem 2rem  ;
}
nav li.active a{
    background-color:darkblue ;
    color: gold;
}
nav a:hover{
    color: white;
}   

main{
    padding: 1rem 2%;
}
main h1{
    color: darkred;
}
main h2{
    color: darkblue;
    margin-bottom: .2rem;
}
main p{
    color: #2f3133;
    margin: 0 0 .3rem 0;
}
main ol{
    padding: .5rem 3%;
    background-color: lightgray;
}
main dl dt{
    color: #b40412;
    font-weight: 700;

}
main dl dd{
    color: #024873;
    font-size: .9rem;
}
main ul{
    list-style-type: circle;
}

main ul li{
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main address{
    font-style: normal;
    background-color: gold;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #024873;
    border-radius: 5px;
}
main a:hover{
    color: rgb(239,0,24);

}

/*footer section of the document*/

footer{
    background-color:lightgray;
    text-align: center;
    color:#024873 ;
    padding: 1rem 0;
    font-size: .8rem;
}
footer a{
    color: #024873;
}